{% extends 'base.html' %} 

{% block title %} Home {% endblock %} 

{% block content %}
<div class="container">
  <!-- MEDIUM+ SCREENS -->
      <div class="jumbotron bg-light">
          <h1 class="display-4"> Welcome to <strong class="text-info">RealtimeChatPlayground! </strong> </h1>
          <p class="lead">This is simple website for realtime chatting. It is created using Websockets and Channels in Django.</p>
          <hr class="my-4">
          <a class="btn btn-info" href="#id_chat_log">Lets Chat</a>
      </div>

    {% include 'snippets/public_chat_room.html' with room_id=room_id %}
</div>
  <!-- END MEDIUM+ SCREENS -->

  <!-- SMALL SCREENS -->
  <div class="d-flex d-md-none p-2">
    <p>Please access the website on desktop for full access.</p>
  </div>
  <!-- END SMALL SCREENS -->

{% endblock content %}
