{% load static %}

<style type="text/css">
	.notification-thumbnail-image{
		height: 50px;
		width: 50px;
	}
	.chat-card:hover{
		cursor: pointer;
		background: #f2f2f2;
	}
	.chat-card{
		border-bottom: 1px solid var(--main-background-color);
	}
	.timestamp-text{
		color: var(--secondary-text-color);
	}
	.notification-chatroom-msg{
		color: var(--light-primary-text-color);
	}
	#id_notifications_loading_spinner{
		position: absolute;
		margin-top: 40px;
	}
	.chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-background-color);
	}
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
	}
</style>

<p class="d-none" id="id_chat_newest_timestamp"></p>

<!-- For using the Data Structures -->
<script src="{% static 'collections/collections.min.js' %}"></script>

<!-- Handling ui notification stuff -->
<script type="text/javascript">

    setOnChatNotificationScrollListener();
	onChatNotificationsPaginationTriggerListener();

	const CHAT_NOTIFICATION_INTERVAL = 4000

	// Keep track of what notifications are currently visible to the user.
	let chatCachedNotifList = new List([])


	function submitNewChatNotificationToCache(notification){
		let result = chatCachedNotifList.filter(function(n){
			return n['notification_id'] === notification['notification_id']
		})
		// This notification does not already exist in the list
		if(result.length === 0){
			chatCachedNotifList.push(notification);

			// append to top of list
			appendTopChatNotification(notification);
		}
		// This notification already exists in the list
		else{
			// find the div and update it.
			refreshChatNotificationsList(notification)
		}
	}


	function submitChatNotificationToCache(notification){
		let result = chatCachedNotifList.filter(function(n){
			return n['notification_id'] === notification['notification_id']
		})
		// This notification does not already exist in the list
		if(result.length === 0){
			chatCachedNotifList.push(notification)

			// append to bottom of list
			appendBottomChatNotification(notification)
		}
		// This notification already exists in the list
		else{
			// find the div and update it.
			refreshChatNotificationsList(notification)
		}
	}

	// Getting new notifications from the payload coming from server
	function handleNewChatNotificationsData(notifications){
		if(notifications.length > 0){
			clearNoChatNotificationsCard()
			notifications.forEach(notification => {

				submitNewChatNotificationToCache(notification)

				setChatNewestTimestamp(notification['timestamp'])
			})
		}
	}

	// Setting new timestamp for the chat notifications
	function setChatNewestTimestamp(timestamp){
		let element = document.getElementById("id_chat_newest_timestamp")
		let current = element.innerHTML
		if(Date.parse(timestamp) > Date.parse(current)){
			element.innerHTML = timestamp
		}
		else if(current === "" || current == null || current === "undefined"){
			element.innerHTML = timestamp
		}
	}

	// Adding the section to visit chat
	function setupChatDropdownHeader(){
		let notificationContainer = document.getElementById("id_chat_notifications_container")

		if(notificationContainer != null){

			let div = document.createElement("div")
			div.classList.add("chat-dropdown-header", "d-flex", "flex-row", "justify-content-end", "m-auto", "align-items-end")
			div.addEventListener("click", function(e){
				let url = "{% url 'private_chat:private chat view' %}"
				chatRedirect(url)
			})

			let span1 = document.createElement("span")
			span1.classList.add("mr-2")
			span1.innerHTML = "Go to chat"
			div.appendChild(span1)

			let span2 = document.createElement("span")
			span2.classList.add("material-icons", "mr-2")
			span2.innerHTML = "open_with"
			div.appendChild(span2)
			notificationContainer.appendChild(div)
		}
	}

	function chatRedirect(url){
		window.location.href = url
	}

	// For no notifications
	function setupChatNotificationsMenu(){
		let notificationContainer = document.getElementById("id_chat_notifications_container")

		if(notificationContainer != null){
			setupChatDropdownHeader()

			let card = createChatNotificationCard("id_no_chat_notifications");

			let div = document.createElement("div");
			div.classList.add("d-flex", "flex-row", "align-items-start")

			let span = document.createElement("span");
			span.classList.add("align-items-start", "pt-1", "m-auto")
			span.innerHTML = "You have no notifications."
			div.appendChild(span);
			card.appendChild(div);
			notificationContainer.appendChild(card);
			setChatNotificationsCount([]);
		}
	}

	// Removing no notification card
    function setChatNotificationsCount(count){
		let countElement = document.getElementById("id_chat_notifications_count")
		if(count > 0){
			countElement.style.background = "red"
			countElement.style.display = "block"
			countElement.innerHTML = count
		}
		else{
			countElement.style.background = "transparent"
			countElement.style.display = "none"
		}
	}

	function clearNoChatNotificationsCard(){
		let element = document.getElementById("id_no_chat_notifications")
		if(element != null && element !== "undefined"){
			document.getElementById("id_chat_notifications_container").removeChild(element)
		}
	}

	// Creating a chat notification card
	function createChatNotificationCard(cardId){
		let card = document.createElement("div")
		if(cardId !== "undefined"){
			card.id = cardId
		}
		card.classList.add("d-flex", "flex-column", "align-items-start", "chat-card","p-4")
		return card
	}

	// Creating a circular profile image thumbnail
	function createChatProfileImageThumbnail(notification){
		img = document.createElement("img")
		img.classList.add("notification-thumbnail-image", "img-fluid", "rounded-circle", "mr-2")
		img.src = notification['from']['image_url']
		img.id = assignChatImgId(notification['notification_id'])
		return img
	}

	// Creating a timestamp element
	function createChatTimestampElement(notification){
		let timestamp = document.createElement("p")
		timestamp.classList.add("small", "pt-2", "timestamp-text")
		timestamp.innerHTML = notification['natural_timestamp']
		timestamp.id = assignChatTimestampId(notification)
		return timestamp
	}

	// Creating a message element
	function createUnreadChatRoomMessagesElement(notification){
		let card = createChatNotificationCard()
		card.id = assignChatCardId(notification)
		card.addEventListener("click", function(){
			chatRedirect(notification['actions']['redirect_url'])
		})

		let div1 = document.createElement("div")
		div1.classList.add("d-flex", "flex-row", "align-items-start")
		div1.id = assignChatDiv1Id(notification)

		let img = createChatProfileImageThumbnail(notification)
		img.id = assignChatImgId(notification)
		div1.appendChild(img)

		let div2 = document.createElement("div")
		div2.classList.add("d-flex", "flex-column")
		div2.id = assignChatDiv2Id(notification)

		let title = document.createElement("span")
		title.classList.add("align-items-start")
		title.innerHTML = notification['from']['title']
		title.id = assignChatTitleId(notification)
		div2.appendChild(title)

		let chatRoomMessage = document.createElement("span")
		chatRoomMessage.id = assignChatroomMessageId(notification)
		chatRoomMessage.classList.add("align-items-start", "pt-1", "small", "notification-chatroom-msg")
		if(notification['statement'].length > 50){
			chatRoomMessage.innerHTML = notification['statement'].slice(0, 50) + "..."
		}
		else{
			chatRoomMessage.innerHTML = notification['statement']
		}
		div2.appendChild(chatRoomMessage)
		div1.appendChild(div2)
		card.appendChild(div1)
		card.appendChild(createChatTimestampElement(notification))
		return card
	}

	// Adding new chat notifications to the top of the notification bar
	function appendTopChatNotification(notification){
		switch(notification['notification_type']) {

			case "UnreadChatRoomMessages":
				let chatNotificationContainer = document.getElementById("id_chat_notifications_container")
				let card = createUnreadChatRoomMessagesElement(notification)

				if(chatNotificationContainer.childNodes.length > 2){
					// Append as the SECOND child. First child is the "go to chatroom" button
					let index = 2
					chatNotificationContainer.insertBefore(card, chatNotificationContainer.childNodes[index]);
				}
				else {
					chatNotificationContainer.appendChild(card)
				}

				break;

			default:
		}
	}

	// Appending chat notifications to the bottom
	function appendBottomChatNotification(notification){

		switch(notification['notification_type']) {

			case "UnreadChatRoomMessages":
				let chatNotificationContainer = document.getElementById("id_chat_notifications_container")
				let card = createUnreadChatRoomMessagesElement(notification)
				chatNotificationContainer.appendChild(card)
				break;

			default:
				// code block
		}
	}

	// Handling the chat notifications coming from the server
    function handleChatNotificationsData(notifications, new_page_number){
    	if(notifications.length > 0){
    		clearNoChatNotificationsCard()

    		notifications.forEach(notification => {

				submitChatNotificationToCache(notification)

				setChatNewestTimestamp(notification['timestamp'])
			})
	    }
	}

	/*
		Search for the notification in the list using it's id. Then update its properties.
		I do not update the image_url since that makes the notifications "flicker".
	*/
	function refreshChatNotificationsList(notification){
		notificationContainer = document.getElementById("id_chat_notifications_container")

		if(notificationContainer != null){
			divs = notificationContainer.childNodes

			divs.forEach(function(card){
				// card
				if(card.id === ("id_notification_" + notification['notification_id'])){

					if(notification['notification_type'] === "UnreadChatRoomMessages"){
						refreshUnreadChatRoomMessagesCard(card, notification)
					}
				}
			})
		}
	}

    // Refresh a refreshUnreadChatRoomMessagesCard card with current data
	function refreshUnreadChatRoomMessagesCard(card, notification){

		card.childNodes.forEach(function(element){

			// DIV1
			if(element.id === ("id_chat_div1_" + notification['notification_id'])){
				element.childNodes.forEach(function(child){

					// DIV2
					if(child.id === ("id_chat_div2_" + notification['notification_id'])){
						child.childNodes.forEach(function(nextChild){
							if(nextChild.id === ("id_chat_title_" + notification['notification_id'])){
								// found title
								nextChild.innerHTML = notification['from']['title']
							}
							if(nextChild.id === ("id_chat_message_" + notification['notification_id'])){
								// found chat message
								if(notification['statement'].length > 50){
									nextChild.innerHTML = notification['statement'].slice(0, 50) + "..."
								}
								else{
									nextChild.innerHTML = notification['statement']
								}
							}
						})
					}
				})
			}

			// TIMESTAMP
			if (element.id === ("id_timestamp_" + notification['notification_id'])){
				element.innerHTML = notification['natural_timestamp']
			}
		})
	}

	// Handling the pagination listener
	function onChatNotificationsPaginationTriggerListener(){
		window.onscroll = function(ev) {
			// because of rounding we need to add 2. 1 might be OK but I'm using 2.
			if ((window.innerHeight + window.scrollY + 2) >= document.body.scrollHeight) {
				getNextChatNotificationsPage()
			}
		};
	}

	function setOnChatNotificationScrollListener(){
		let menu = document.getElementById("id_chat_notifications_container")
		if(menu != null ){
			menu.addEventListener("scroll", function(e){

				if ((menu.scrollTop) >= (menu.scrollHeight - menu.offsetHeight)) {
					getNextChatNotificationsPage()
				}
			});
		}

	}

</script>


<!-- Handling Payloads sent to consumer -->
<script type="text/javascript">

	// Getting the unread chat notifications
    function getUnreadChatNotificationsCount(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_unread_chat_notifications_count",
			}));
		}
	}

	// Handling multiple pages in notification
    function getNextChatNotificationsPage(){
		let pageNumber = document.getElementById("id_chat_page_number").innerHTML
		// -1 means exhausted or a query is currently in progress
		if("{{request.user.is_authenticated}}" && pageNumber !== "-1"){
			notificationSocket.send(JSON.stringify({
				"command": "get_chat_notifications",
				"page_number": pageNumber,
			}));
		}
	}

	function getNewChatNotifications(){
		newestTimestamp = document.getElementById("id_chat_newest_timestamp").innerHTML
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_new_chat_notifications",
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

	function getFirstChatNotificationsPage(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_chat_notifications",
				"page_number": "1",
			}));
			getUnreadChatNotificationsCount();
		}
	}

	// Start the functions that will be executed constantly
	function startChatNotificationService(){
		if("{{request.user.is_authenticated}}" === "True"){
			setInterval(getNewChatNotifications, CHAT_NOTIFICATION_INTERVAL)
            setInterval(getUnreadChatNotificationsCount, CHAT_NOTIFICATION_INTERVAL);
		}
	}

	startChatNotificationService();
</script>


<!-- Assigning the ids to the elements -->
<script type="text/javascript">
	function assignChatDiv1Id(notification){
		return "id_chat_div1_" + notification['notification_id']
	}

	function assignChatImgId(notification){
		return "id_chat_img_" + notification['notification_id']
	}

	function assignChatTitleId(notification){
		return "id_chat_title_" + notification['notification_id']
	}

	function assignChatroomMessageId(notification){
		return "id_chat_message_" + notification['notification_id']
	}

	function assignChatDiv2Id(notification){
		return "id_chat_div2_" + notification['notification_id']
	}

	function assignChatTimestampId(notification){
		return "id_timestamp_" + notification['notification_id']
	}

	function assignChatCardId(notification){
		return "id_notification_" + notification['notification_id']
	}

</script>



