{% load static %}


<style type="text/css">
	.notification-thumbnail-image{
		height: 50px;
		width: 50px;
	}
	.general-card:hover{
		cursor: pointer;
		background: #f2f2f2;
	}
	.general-card{
		border-bottom: 1px solid var(--main-background-color);
	}
	.timestamp-text{
		color: var(--secondary-text-color);
	}

	#id_notifications_loading_spinner{
		position: absolute;
		margin-top: 40px;
	}
</style>

<!-- For using the Data Structures -->
<script src="{% static 'collections/collections.min.js' %}"></script>

<p class="d-none" id="id_general_page_number">1</p>
<p class="d-none" id="id_general_oldest_timestamp"></p>
<p class="d-none" id="id_general_newest_timestamp"></p>

<script type="text/javascript">

    const GENERAL_NOTIFICATION_INTERVAL = 4000
	const GENERAL_NOTIFICATION_TIMEOUT = 5000

	// Keep track of what notifications are currently visible to the user.
	let generalCachedNotifList = new List([])

	function submitGeneralNotificationToCache(notification){
		let result = generalCachedNotifList.filter(function(n){
			return n['notification_id'] === notification['notification_id']
		})

		// This notification does not already exist in the list
		if(result.length === 0){
			generalCachedNotifList.push(notification)

			// append to bottom of list
			appendBottomGeneralNotification(notification)
		}
		// This notification already exists in the list
		else{
			// find the div and update it.
			refreshGeneralNotificationsList(notification)
		}
	}


	function refreshGeneralNotificationsList(notification){
		let notificationContainer = document.getElementById("id_general_notifications_container")

		if(notificationContainer != null){
			let divs = notificationContainer.childNodes

			divs.forEach(function(card){
				// card
				if(card.id === ("id_notification_" + notification['notification_id'])){

					switch(notification['notification_type']) {

						case "FriendRequest":
							refreshFriendRequestCard(card, notification)
							break;

						case "FriendList":
							refreshFriendListCard(card, notification)
							break;

						default:
							// code block
					}
				}
			})
		}
	}

    // Handling general notifications
	function handleGeneralNotificationsData(notifications, new_page_number){

		if(notifications.length > 0){
			clearNoGeneralNotificationsCard();
			notifications.forEach(notification => {

				submitGeneralNotificationToCache(notification);

                setGeneralOldestTimestamp(notification['timestamp']);
				setGeneralNewestTimestamp(notification['timestamp']);
			})
            setGeneralPageNumber(new_page_number)
		}
	}

	function handleLikePayload(notifications){
        if(notifications.length > 0){
            clearNoGeneralNotificationsCard();
            notifications.forEach(notification => {
                submitGeneralNotificationToCache(notification);
                // createAppendLikeNotification(notification);
            })
        }
    }


	// Handling new chat notifications
	function handleNewGeneralNotificationsData(notifications){
    	if(notifications.length > 0){
    		clearNoGeneralNotificationsCard()
    		notifications.forEach(notification => {

    			submitNewGeneralNotificationToCache(notification)

				setGeneralOldestTimestamp(notification['timestamp'])
				setGeneralNewestTimestamp(notification['timestamp'])
			})
	    }
	}

	// Appending notification to the top or updating if already exists
	function submitNewGeneralNotificationToCache(notification){
		let result = generalCachedNotifList.filter(function(n){
			return n['notification_id'] === notification['notification_id']
		})
		// This notification does not already exist in the list
		if(result.length === 0){
		    console.log(notification)
			generalCachedNotifList.push(notification)

			// append to top of list
			appendTopGeneralNotification(notification)
		}
		// This notification already exists in the list
		else{
			// find the div and update it.
			refreshGeneralNotificationsList(notification)
		}
	}

	function refreshGeneralNotificationsData(notifications){
		// console.log(notifications)
		if(notifications.length > 0){
			clearNoGeneralNotificationsCard()
			notifications.forEach(notification => {

				submitGeneralNotificationToCache(notification)

				setGeneralOldestTimestamp(notification['timestamp'])
				setGeneralNewestTimestamp(notification['timestamp'])
			})
		}
	}

	function appendTopGeneralNotification(notification){

		switch(notification['notification_type']) {

			case "FriendRequest":
				notificationContainer = document.getElementById("id_general_notifications_container")
				card = createFriendRequestElement(notification)
				notificationContainer.insertBefore(card, notificationContainer.childNodes[0]);
				break;

			case "FriendList":
				notificationContainer = document.getElementById("id_general_notifications_container")
				card = createFriendListElement(notification)
				notificationContainer.insertBefore(card, notificationContainer.childNodes[0]);
				break;
				
            case "Like":
                notificationContainer = document.getElementById("id_general_notifications_container")
                card = createLikeElement(notification);
                notificationContainer.appendChild(card);
                break;

			default:
				// code block
		}

		preloadImage(notification['from']['image_url'], assignGeneralImgId(notification))
	}

	// Appending general notification to the bottom
	function appendBottomGeneralNotification(notification){

		switch(notification['notification_type']) {

			case "FriendRequest":
				notificationContainer = document.getElementById("id_general_notifications_container")
				card = createFriendRequestElement(notification);
				notificationContainer.appendChild(card)
				break;

			case "FriendList":
				notificationContainer = document.getElementById("id_general_notifications_container")
				card = createFriendListElement(notification)
				notificationContainer.appendChild(card)
				break;
            case "Like":
                notificationContainer = document.getElementById("id_general_notifications_container")
                card = createLikeElement(notification);
                notificationContainer.appendChild(card);
                break;

			default:
				// code block
		}
		preloadImage(notification['from']['image_url'], assignGeneralImgId(notification))
	}

	function refreshFriendRequestCard(card, notification){
		card.childNodes.forEach(function(element){

			// DIV1
			if(element.id === ("id_general_div1_" + notification['notification_id'])){
				element.childNodes.forEach(function(child){
					if(child.id === ("id_general_verb_" + notification['notification_id'])){
						// found verb
						child.innerHTML = notification['verb']
					}
				})
			}

			// DIV2
			if (element.id === ("id_general_div2_" + notification['notification_id'])){
				if(notification['is_active'] === "True"){
						// do nothing
				}
				else{
					// remove buttons b/c it has been answered
					card.removeChild(element)
				}
			}

			// TIMESTAMP
			if (element.id === ("id_timestamp_" + notification['notification_id'])){
				element.innerHTML = notification['natural_timestamp']
			}
		})
	}

	// Refreshing a friend list
	function refreshFriendListCard(card, notification){
		card.childNodes.forEach(function(element){

			// DIV1
			if(element.id === ("id_general_div1_" + notification['notification_id'])){
				element.childNodes.forEach(function(child){
					if(child.id === ("id_general_verb_" + notification['notification_id'])){
						// found statement
						child.innerHTML = notification['statement']
					}
				})
			}

			// TIMESTAMP
			if (element.id === ("id_timestamp_" + notification['notification_id'])){
				element.innerHTML = notification['natural_timestamp']
			}
		})
	}

	function createFriendListElement(notification){
		let card = createGeneralNotificationCard();
		card.id = assignGeneralCardId(notification);
		card.addEventListener("click", function(){
			generalRedirect(notification['actions']['redirect_url'])
		});

		let div1 = document.createElement("div");
		div1.classList.add("d-flex", "flex-row", "align-items-start");
		div1.id = assignGeneralDiv1Id(notification);

		let img = createGeneralProfileImageThumbnail(notification);
		div1.appendChild(img);

		let span = document.createElement("span");;
		span.classList.add("align-items-start", "pt-1", "m-auto");
		if(notification['statement'].length > 50){
			span.innerHTML = notification['statement'].slice(0, 50) + "...";
		}
		else{
			span.innerHTML = notification['statement'];
		}
		span.id = assignGeneralStatementId(notification);
		div1.appendChild(span);
		card.appendChild(div1);
		card.appendChild(createGeneralTimestampElement(notification));

		return card;
	}

	function createLikeElement(notification){
	    let card = createGeneralNotificationCard();
	    card.id = assignGeneralCardId(notification);

	    let div1 = document.createElement("div");
		div1.classList.add("d-flex", "flex-row", "align-items-start");
		div1.id = assignGeneralDiv1Id(notification);

		let img = createGeneralProfileImageThumbnail(notification);
		div1.appendChild(img);

		let span = document.createElement("span");;
		span.classList.add("align-items-start", "pt-1", "m-auto");
		if(notification['statement'].length > 50){
			span.innerHTML = notification['statement'].slice(0, 50) + "...";
		}
		else{
			span.innerHTML = notification['statement'];
		}
		span.id = assignGeneralStatementId(notification);
		div1.appendChild(span);
		card.appendChild(div1);
		card.appendChild(createGeneralTimestampElement(notification));

		return card;
    }

	// Creating a friend request element
	function createFriendRequestElement(notification){
		let card = createGeneralNotificationCard();

		// assign id b/c we need to find this div if they accept/decline the friend request
		card.id = assignGeneralCardId(notification);
		card.addEventListener("click", function(){
			generalRedirect(notification['actions']['redirect_url'])
		});

		// Is the friend request PENDING? (not answered yet)
		if(notification['is_active'] === "True"){

			let div1 = document.createElement("div");
			div1.classList.add("d-flex", "flex-row", "align-items-start");
			div1.id = assignGeneralDiv1Id(notification);

			let img = createGeneralProfileImageThumbnail(notification);
			div1.appendChild(img);

			let span = document.createElement("span");
			span.classList.add("m-auto");
			span.innerHTML = notification['statement'];
			span.id = assignGeneralStatementId(notification);
			div1.appendChild(span);
			card.appendChild(div1);

			let div2 = document.createElement("div");
			div2.classList.add("d-flex", "flex-row", "mt-2");
			div2.id = assignGeneralDiv2Id(notification);

			let pos_action = document.createElement("a");
			pos_action.classList.add("btn", "btn-primary", "mr-2");
			pos_action.href = "#";
			pos_action.innerHTML = "Accept";
			pos_action.addEventListener("click", function(e){
				e.stopPropagation();
				sendAcceptFriendRequestToSocket(notification['notification_id']);
			});
			pos_action.id = assignGeneralPosActionId(notification);
			div2.appendChild(pos_action);

			let neg_action = document.createElement("a");
			neg_action.classList.add("btn", "btn-secondary");
			neg_action.href = "#";
			neg_action.innerHTML = "Decline";
			neg_action.addEventListener("click", function(e){
				e.stopPropagation();
				sendDeclineFriendRequestToSocket(notification['notification_id']);
			});
			neg_action.id = assignGeneralNegActionId(notification);
			div2.appendChild(neg_action);
			card.appendChild(div2);
		}
		// The friend request has been answered (Declined or accepted)
		else{
			let div1 = document.createElement("div");
			div1.classList.add("d-flex", "flex-row", "align-items-start");
			div1.id = assignGeneralDiv1Id(notification);

			let img = createGeneralProfileImageThumbnail(notification);
			img.id = assignGeneralImgId(notification);
			div1.appendChild(img);

			let span = document.createElement("span");
			span.classList.add("m-auto");
			span.innerHTML = notification['statement'];
			span.id = assignGeneralStatementId(notification);
			div1.appendChild(span);
			card.appendChild(div1);
		}
		card.appendChild(createGeneralTimestampElement(notification));

		return card;
	}

	// Initializing the general notification panel
	function setupGeneralNotificationsMenu(){
		let notificationContainer = document.getElementById("id_general_notifications_container");

		if(notificationContainer != null){
			let card = createGeneralNotificationCard("id_no_general_notifications");

			let div = document.createElement("div");
			div.classList.add("d-flex", "flex-row", "align-items-start");

			let span = document.createElement("span");
			span.classList.add("align-items-start", "pt-1", "m-auto");
			span.innerHTML = "You have no notifications.";
			div.appendChild(span);
			card.appendChild(div);
			notificationContainer.appendChild(card);
		}
	}

	// Clearing the notification panel
	function clearNoGeneralNotificationsCard(){
		let element = document.getElementById("id_no_general_notifications")
		if(element != null && element !== "undefined"){
			document.getElementById("id_general_notifications_container").removeChild(element);
		}
	}

	function createGeneralNotificationCard(cardId){
		let card = document.createElement("div");
		if(cardId !== "undefined"){
			card.id = cardId;
		}
		card.classList.add("d-flex", "flex-column", "align-items-start", "general-card", "p-4");
		return card;
	}

	function createGeneralProfileImageThumbnail(notification){
		let img = document.createElement("img");
		img.classList.add("notification-thumbnail-image", "img-fluid", "rounded-circle", "mr-2");
		img.src = "{% static 'basic/user.png' %}";
		img.id = assignGeneralImgId(notification);
		return img;
	}

	function createGeneralTimestampElement(notification){
		let timestamp = document.createElement("p");
		timestamp.classList.add("small", "pt-2", "timestamp-text");

		if(notification.notification_type === "Like"){
		    timestamp.innerHTML = notification['timestamp'];
        }else{
		    timestamp.innerHTML = notification['natural_timestamp'];
        }
		timestamp.id = assignGeneralTimestampId(notification);
		return timestamp;
	}

	function updateGeneralNotificationDiv(notification){
	    let notificationContainer = document.getElementById("id_general_notifications_container");

		if(notificationContainer != null){
			let divs = notificationContainer.childNodes;

			divs.forEach(function(element){
				if(element.id === ("id_notification_" + notification['notification_id'])){

					// Replace current div with updated one
					let updatedDiv = createFriendRequestElement(notification);
					element.replaceWith(updatedDiv);
				}
			})
		}
    }

    function setOnGeneralNotificationScrollListener(){
		let menu = document.getElementById("id_general_notifications_container");
		if(menu != null ){
			menu.addEventListener("scroll", function(e){

				if ((menu.scrollTop) >= (menu.scrollHeight - menu.offsetHeight)) {
					getNextGeneralNotificationsPage();
				}
			});
		}

	}

	setOnGeneralNotificationScrollListener();

	function setGeneralPaginationExhausted(){
		console.log("general pagination exhausted.")
		setGeneralPageNumber("-1")
	}

	function setGeneralPageNumber(pageNumber){
		document.getElementById("id_general_page_number").innerHTML = pageNumber;
	}

	// Keeping track of the old timestamp
	function setGeneralOldestTimestamp(timestamp){
		let element = document.getElementById("id_general_oldest_timestamp");
		let current = element.innerHTML;
		if(Date.parse(timestamp) < Date.parse(current)){
			element.innerHTML = timestamp;
		}
	}

	// Keeping track of the new timestamp
	function setGeneralNewestTimestamp(timestamp){
		let element = document.getElementById("id_general_newest_timestamp");
		let current = element.innerHTML;
		if(Date.parse(timestamp) > Date.parse(current)){
			element.innerHTML = timestamp;
		}
		else if(current === ""){
			element.innerHTML = timestamp
		}
	}

	// Setting the count for unread notifications
	function setUnreadGeneralNotificationsCount(count){
		let countElement = document.getElementById("id_general_notifications_count");
		if(count > 0){
			countElement.style.background = "red";
			countElement.style.display = "block";
			countElement.innerHTML = count;
		}
		else{
			countElement.style.background = "transparent";
			countElement.style.display = "none";
		}
	}

</script>

<!-- Send to consumer -->
<script type="text/javascript">

	function getUnreadGeneralNotificationsCount(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_unread_general_notifications_count",
			}));
		}
	}

	function setGeneralNotificationsAsRead(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "mark_notifications_read",
			}));
			getUnreadGeneralNotificationsCount();
		}
	}

	function getFirstGeneralNotificationsPage(){
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_general_notifications",
				"page_number": "1",
			}));
		}
	}

	function sendAcceptFriendRequestToSocket(notification_id){
	    console.log("Accepting request")
		notificationSocket.send(JSON.stringify({
			"command": "accept_friend_request",
			"notification_id": notification_id,
		}));
	}

	function sendDeclineFriendRequestToSocket(notification_id){
		notificationSocket.send(JSON.stringify({
			"command": "decline_friend_request",
			"notification_id": notification_id,
		}));
	}

	function getNextGeneralNotificationsPage(){
		let pageNumber = document.getElementById("id_general_page_number").innerHTML
		// -1 means exhausted or a query is currently in progress
		if("{{request.user.is_authenticated}}" && pageNumber !== "-1"){
			notificationSocket.send(JSON.stringify({
				"command": "get_general_notifications",
				"page_number": pageNumber,
			}));
		}
	}

	function refreshGeneralNotifications(){
		let oldestTimestamp = document.getElementById("id_general_oldest_timestamp").innerHTML;
		let newestTimestamp = document.getElementById("id_general_newest_timestamp").innerHTML;
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "refresh_general_notifications",
				"oldest_timestamp": oldestTimestamp,
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

	// Starting the service of getting notifications
	function startGeneralNotificationService(){
		if("{{request.user.is_authenticated}}" === "True"){
			setInterval(refreshGeneralNotifications, GENERAL_NOTIFICATION_INTERVAL);
            setInterval(getNewGeneralNotifications, GENERAL_NOTIFICATION_INTERVAL);
            setInterval(getUnreadGeneralNotificationsCount, GENERAL_NOTIFICATION_INTERVAL);
		}
	}

	startGeneralNotificationService();



    function getNewGeneralNotifications(){
		let newestTimestamp = document.getElementById("id_general_newest_timestamp").innerHTML
		if("{{request.user.is_authenticated}}"){
			notificationSocket.send(JSON.stringify({
				"command": "get_new_general_notifications",
				"newest_timestamp": newestTimestamp,
			}));
		}
	}

</script>

<!-- Helpers for generating IDs -->
<script type="text/javascript">

	function generalRedirect(url){
		window.location.href = url
	}

	function assignGeneralDiv1Id(notification){
		return "id_general_div1_" + notification['notification_id']
	}

	function assignGeneralImgId(notification){
		return "id_general_img_" + notification['notification_id']
	}

	function assignGeneralStatementId(notification){
		return "id_general_statement_" + notification['notification_id']
	}

	function assignGeneralDiv2Id(notification){
		return "id_general_div2_" + notification['notification_id']
	}

	function assignGeneralPosActionId(notification){
		return "id_general_pos_action_" + notification['notification_id']
	}

	function assignGeneralNegActionId(notification){
		return "id_general_neg_action_" + notification['notification_id']
	}

	function assignGeneralTimestampId(notification){
		return "id_timestamp_" + notification['notification_id']
	}

	function assignGeneralCardId(notification){
		return "id_notification_" + notification['notification_id']
	}

	function setInitialTimestamp(){
		// ('%Y-%m-%d %H:%M:%S.%f')
		let today = new Date();
		let month = today.getMonth()+1;
		if(month.toString().length === 1){
			month = "0" + month;
		}
		let day = today.getDate();
		if(day.toString().length === 1){
			day = "0" + day;
		}
		let hours = today.getHours();
		if(hours.toString().length === 1){
			hours = "0" + hours;
		}
		let minutes = today.getMinutes();
		if(minutes.toString().length === 1){
			minutes = "0" + minutes;
		}
		let seconds = today.getSeconds();
		if(seconds.toString().length === 1){
			seconds = "0" + seconds;
		}
		let ms = "000000";
		let date = today.getFullYear()+'-'+month+'-'+day + " " + hours + ":" + minutes + ":" + seconds + "." + ms;
		document.getElementById("id_general_oldest_timestamp").innerHTML = date;
	}

	setInitialTimestamp();
</script>


