{% load static %}


<style type="text/css">
	.chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-background-color);
	}
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
	}
    #id_profile_links{
        cursor: pointer;
    }

    #id_q{
        outline: none;
        border: none;
    }
    #id_search_form{
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50px;
    }

    #nav-link{
        text-decoration: none;
        transition: 0.5s ease-in-out;
    }

    .icon{
        font-size: 2.5rem;
        transition: 0.2s all;
    }

    .icon:hover{
        color: #0c8bf0;
    }

    .search-bar input{
        background: transparent;
    }

    .search-bar button:focus,
    .search-bar button:active{
        box-shadow: none;
    }

    .scrollable-menu {
		height: auto;
		max-height: 90vh;
		width: 500px;
		overflow-x: hidden;
	}

    .notifications-material-icon {
		font-size: 28px;

	}
	.notifications-icon-container{
		width: 40px;
		height: 40px;
		background-color: var(--main-background-color);
	}
	.notifications-icon-container:hover {
		cursor: pointer;
		background-color: var(--secondary-text-color)
	}

	.notify-badge{
		position: absolute;
		background: transparent;
		height:1.2rem;
		width:1.2rem;
		line-height: 1.2rem;
		top:1rem;
		right:2rem;
		text-align: center;
		font-size: 1rem;
		border-radius: 50%;
		color:white;
		font-weight: 630;
		margin-top:-15px;
		margin-right: -25px;
	}

	#id_notifications_spinner{
		margin-top: 20px;
		margin-bottom: 20px;
	}

    .links a{
        text-decoration: none;
    }

    .register_btn{
        color: #fff;
        background: #3616f5;
        padding: 10px;
        border-radius: 20px;
    }

    .register_btn:hover{
        color: white;
        box-shadow: 0 1px 8px -2px #3616f5;
    }
    .navbar{
        height: 6rem;
    }

</style>


    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
      <a class="navbar-brand" href="/"><h3> RealtimeChat Playground </h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a id="nav-link" class="p-2 text-dark"  href="/"><span class="material-icons icon">home</span></a>
          </li>
          <li class="nav-item">
            <a id="nav-link" class="p-2 text-dark" href="public-room/"><span class="material-icons icon">connect_without_contact</span></a>
          </li>
        </ul>

        <form class="search-bar d-flex" id="id_search_form" onsubmit="return executeQuery();">
			<input type="text" class="ml-4" name="q" id="id_q" placeholder="Search for friends...">
            <button class="btn"> <span class="material-icons pt-1">search</span> </button>
		</form>

        <div class="d-flex flex-row-reverse flex-grow-1">

            {% if request.user.is_authenticated %}
					<div class="dropdown dropleft show p-2">
						<div class="d-flex flex-row">
							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-toggle="dropdown">
									<span id="id_chat_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">chat</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
									</div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_notification_dropdown_toggle" data-toggle="dropdown" onclick="setGeneralNotificationsAsRead()" >
									<span id="id_general_notifications_count" class="notify-badge"></span>
									<span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications</span>
									<div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container">
									</div>
								</div>
							</div>

							<div class="btn-group dropleft">
								<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{request.user.profile_image.url}}" alt="logo" width="40" height="40">
								<div class="dropdown-menu" aria-labelledby="id_profile_links">
									<a class="dropdown-item" href="{% url 'account:account' user_id=request.user.id %}">Account</a>
									<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
								</div>
							</div>
						</div>
                    </div>
					</div>
				{% else %}
                    <div class="links">
                        <a class="pl-2 pr-2 text-dark" href="{% url 'login' %}">Login</a>
                        <a class="register_btn" href="{% url 'register' %}"> Register </a>
                    </div>
				{% endif %}
        </div>
    </nav>

{% include 'snippets/general_notifications.html' %}
{% include 'snippets/chat_notifications.html' %}


<!-- Handling socket -->
<script type="text/javascript">

	let scheme = window.location.protocol === "https:" ? "wss" : "ws";
	let path = scheme + '://' + window.location.host + "/";
	let notificationSocket = new WebSocket(path);

	// Handle incoming messages
	notificationSocket.onmessage = function(message) {
		let data = JSON.parse(message.data);
		console.log("Got notification websocket message. " + data.general_msg_type);

		if(data.general_msg_type === 0){
			handleGeneralNotificationsData(data['notifications'], data['new_page_number']);
		}

		if(data.general_msg_type === 5){
			updateGeneralNotificationDiv(data['notification']);
		}

		if(data.general_msg_type === 1){
			setGeneralPaginationExhausted();
		}

		if(data.general_msg_type === 2){
			refreshGeneralNotificationsData(data['notifications']);
		}

		if(data.general_msg_type === 3){
			handleNewGeneralNotificationsData(data['notifications']);
		}

        if(data.general_msg_type === 4){
			setUnreadGeneralNotificationsCount(data['count']);
		}

        if(data.chat_msg_type === 10){
			handleChatNotificationsData(data['notifications'], data['new_page_number'])
		}
        if(data.chat_msg_type === 13){
			handleNewChatNotificationsData(data['notifications'])
		}
        if(data.chat_msg_type === 14){
			setChatNotificationsCount(data['count'])
		}
	}

	notificationSocket.onclose = function(e) {
		console.error('Notification Socket closed unexpectedly');
	};

	notificationSocket.onopen = function(e){
		console.log("Notification Socket on open: " + e);
        setupGeneralNotificationsMenu();
		getFirstGeneralNotificationsPage();
		getUnreadGeneralNotificationsCount();
		setupChatNotificationsMenu();
		getFirstChatNotificationsPage();
		getLikeNotification();
	}

	notificationSocket.onerror = function(e){
		console.log('Notification Socket error', e)
	}

	if (notificationSocket.readyState === WebSocket.OPEN) {
		console.log("Notification Socket OPEN complete.")
	}
	else if (notificationSocket.readyState === WebSocket.CONNECTING){
		console.log("Notification Socket connecting..")
	}

	function getLikeNotification(){
        console.log("get likes");
        if("{{request.user.is_authenticated}}"){
            notificationSocket.send(JSON.stringify({
                "command": "get_like_notifications",
            }));
        }
    }
</script>

<!-- Executing basic queries -->
<script type="text/javascript">

	function executeQuery() {
		let query = "";
		query = document.getElementById('id_q').value;

	    window.location.replace("{% url 'search' %}?q=" + query)
	    return false
	}

	function chatRedirect(url){
		window.location.href = url
	}

</script>






















